<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

@model Group1_Expense_Tracker.Models.Credentials

<div class="background flex h-screen w-screen items-center justify-center">
    <div class="credential-gradient flex h-full w-full flex-col items-center justify-center drop-shadow-lg sm:w-2/3 sm:rounded-xl md:w-1/2 md:h-full md:rounded-xl">
        <div class="flex h-52 w-full flex-col items-center justify-center gap-5">
            <img src="/img/LogoBg.png" class="mt-5 h-24 w-24 rounded-full">
            <label class="font-sans text-2xl font-bold tracking-wide text-white drop-shadow-lg">LOGIN</label>
        </div>
        <form asp-action="Login" method="post" class="flex w-full flex-col gap-5 px-16">
            <div class="flex flex-row items-center justify-center border-b border-zinc-400 px-4">
                <img src="/img/UserIcon.png" class="h-5 w-5" />
                <input type="text" autocomplete="off" id="userInput" placeholder="Username" asp-for="Username" class="w-full bg-transparent px-4 py-2 text-white placeholder:text-white focus:outline-none" />
            </div>

            <div class="flex flex-row items-center justify-center border-b border-zinc-400 px-4">
                <img src="/img/LockIcon.png" class="h-5 w-5" />
                <input type="password" autocomplete="off" id="passwordInput" placeholder="Password" asp-for="Password" class="w-full bg-transparent px-4 py-2 text-white placeholder:text-white focus:outline-none" />
            </div>

            <div class="mt-5 flex flex-col items-center justify-center gap-3">
                <button type="submit" class="w-36 rounded-full bg-white py-2 text-gray-700 drop-shadow-lg">
                    Login
                </button>
                <label class="font bold text-xs text-white">Or</label>
                <button type="button" class="flex w-36 flex-row items-center justify-center gap-2 rounded-full bg-red-600 py-2 text-white drop-shadow-lg">
                    <img src="/img/GoogleIcon.png" class="h-6 w-6" />Register
                </button>
                <label class="mt-1 text-center text-sm text-white">Dont Have an Account? <a asp-area="" asp-controller="Credentials" asp-action="Register" class="underline">Register Here!</a></label>
                <label class="mt-1 text-center text-sm text-white">Forgot Password? <a asp-area="" asp-controller="Credentials" asp-action="ForgotPassword" class="underline">Click Here</a></label>
            </div>
        </form>
    </div>
</div>


@if (TempData.ContainsKey("ForgotPasswordMsg"))
{
    <script>
        var forgotMsg = '@TempData["ForgotPasswordMsg"]';
        Swal.fire({
            title: 'Forgot Password!',
            text: forgotMsg,
            imageUrl: '/img/forgot-password.svg',
            imageWidth: 100,
            imageHeight: 100,
        });
    </script>
}

@if (TempData.ContainsKey("LoginErrorMsg"))
{
    <script>
        var loginError = '@TempData["LoginErrorMsg"]';
        Swal.fire({
            icon: 'error',
            title: 'Login Failed!',
            text: loginError,
        });
    </script>
}

@if (TempData.ContainsKey("RegistrationMsg"))
{
    <script>
        var registrationMsg = '@TempData["RegistrationMsg"]';
        Swal.fire({
            title: 'Registration Successful!',
            text: registrationMsg,
            imageUrl: '/img/reg-success.svg',
            imageWidth: 100,
            imageHeight: 100,
        });
    </script>
}

@if (TempData.ContainsKey("VerificationSuccess"))
{
    <script>
        var verificationTrue = '@TempData["VerificationSuccess"]';
        Swal.fire({
            icon: 'success',
            title: 'Email Verified!',
            text: verificationTrue,
        });
    </script>
}

@if (TempData.ContainsKey("VerificationError"))
{
    <script>
        var verificationFalse = '@TempData["VerificationError"]';
        Swal.fire({
            icon: 'error',
            title: 'Email Verification Error :(!',
            text: verificationFalse,
        });
    </script>
}

@if (TempData.ContainsKey("LogoutMessage"))
{
    <script>
        var exitApp = '@TempData["LogoutMessage"]';
        Swal.fire({
            title: 'Leaving so soon :(!',
            text: exitApp,
            imageUrl: '/img/crying-emoji.svg',
            imageWidth: 100,
            imageHeight: 100,
        });
    </script>
}